<div class="list-group">

  <a class="list-group-item list-group-item-info">
    <h4><%= @source %></h4>
  </a>

<% @posts.each do |post| %>
<% if post.url %>
  <a href="<%= post.url %>" target="_blank" class="list-group-item">
<% else %>
  <a class="list-group-item disabled">
<% end %>
    <span class="badge">
      <%= Date.today.mjd - post.published.to_date.mjd %>d
      <br />
      <%= post.score %>%
    </span>
    <p class="list-group-item-text">
      <%= post.clean_text %>
    </p>
  </a>
<% end %>

  <a onclick="read('<%= @ids.join(",") %>')" class="list-group-item list-group-item-success">
    <h4>Mark as read</h4>
  </a>

</div>
